html, body {
  box-sizing: border-box;
  font-family: 'Press Start 2P';
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  color: white;
  text-align: center;
}

button {
  font-family: inherit;
  /* cursor: pointer; */
  cursor : url(/assets/game/molegame/cursor_1.png) 20 30
}

.main{
  position: relative;
  width: 100%;
}

.mole{
  float: left;
  width: 30%;
  height: 30%;
  margin: 1%;
  overflow: hidden;
  cursor : url('/assets/game/molegame/cursor_1.png'), pointer;
  border-radius: 20px;
  background: no-repeat center/cover url('/assets/game/molegame/hole.png'), #004b21;
}

li {
  position: relative;
}

.answer-text-1, 
.answer-text-2,
.answer-text-3,
.answer-text-4,
.answer-text-5,
.answer-text-6,
.answer-text-7,
.answer-text-8,
.answer-text-9{
  color: white;
  text-align: center;
  position: absolute;
	top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 25px;
  transform: translate( -50%, -50% );
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}

.mole > img{
  position: relative;
  bottom: -5px;
  display: block;
  width: 100%;
  opacity: 0;
  transition: 0.05s ease-out;
}

.whack-a-mole .active{
  bottom: 0;
  opacity: 1;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.whack-a-mole .click-correct{
  bottom: 0;
  opacity: 1;
  animation: correct_click 0.5s;
  animation-iteration-count: infinite;
}

.whack-a-mole .click-wrong{
  bottom: 0;
  opacity: 1;
  animation: wrong_click 1.0s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes correct_click {
  0% { bottom: 0px; }
  25% { bottom: 10px; }
  50% { bottom: 0px; }
  75% { bottom: 10px; }
  100% { bottom: 0px; }
}

@keyframes wrong_click {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}

@keyframes point {
  0% { font-size: 65px; }
  25% { font-size: 55px; }
  50% { font-size: 45px; }
  75% { font-size: 35px; }
  100% { font-size: 25px; }
}

.btn-wrap{
  float: right;
  width: 100%;
}

.start-btn, .restart-btn {
  width: 50%;
  height: 40px;
  font-size: 15px;
  font-weight: 900;
  margin: 10px 0 0 0;
  background: #d6806e;
  border: none;
  color: #f2ecff;
  border-radius: 20px;
}

.start-btn:hover{
  opacity: 0.5;
  color: #f9f871;
}

.restart-btn:hover{
  opacity: 0.5;
  color: white;
}

.point-box {
  background-color: #4e4e4e;
  width: 650px;
  margin: 10px auto 0 auto;
  text-align: center;
  border-radius: 20px;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.start-game {
  animation: blink-effect 3s step-end infinite;
}

#friend-point-current, #point-current {
  font-size: 25px;
  font-weight: bold;
  color: #fbb666;
}

.get-point{
  animation: point 0.3s;
}

.hidden {
  display: none;
}

@keyframes jump-effect {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

.jump-animation {
  animation: jump-effect 0.3s infinite;
}