.experienceResult-bar {
  width: 450px;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  position: fixed;  /* 추가 */
  left: 50%;  /* 추가 */
  transform: translateX(-50%);
}

.experienceResult-bar__fill {
  height: 100%;
  /* background: yellowgreen; */
  background: #6dacb8;
  transition: width 0.4s ease-out;
}

.experienceResult-bar__fill2 {
  height: 100%;
  /* background: #00b4d8; */
  /* background: yellowgreen; */
  background: rgb(138, 206, 1);
  /* background: blue; */
  transition: width 0.4s ease-out;
}